<div class="child-okr">
  <ng-container *ngIf="isChildOkrComplete === true; else blank">
    <app-child-okr-title></app-child-okr-title>
    <div #header id="header" class="table table--header">
      <div class="row row--header">
        <div class="cell">
          <p>
            タスク名
            <mat-icon
              matTooltip="目標を達成するための項目&#13;&#10;数値的項目を入力"
            >
              help_outline
            </mat-icon>
          </p>
        </div>
        <div class="cell cell--small">
          <p>
            標的
            <mat-icon matTooltip="数値を入力">
              help_outline
            </mat-icon>
          </p>
        </div>
        <div class="cell cell--small">
          <p>
            現在
            <mat-icon matTooltip="達成した数値を入力">
              help_outline
            </mat-icon>
          </p>
        </div>
        <div class="cell cell--small">
          <p>
            達成率
            <mat-icon matTooltip="自動で更新されます">
              help_outline
            </mat-icon>
          </p>
        </div>
        <div class="cell cell--midium cell--last">
          <p>
            更新日
          </p>
        </div>
      </div>
    </div>

    <div class="spread-sheet-container">
      <ng-container
        *ngFor="let childOkrObjective of childOkrObjectives; let i = index"
      >
        <form [formGroup]="rows[childOkrObjective.childOkrObjectiveId]">
          <form
            [formGroup]="
              childOkrObjectivesForm[childOkrObjective.childOkrObjectiveId]
            "
          >
            <div
              *ngFor="
                let childOkrObjective of childOkrObjectivesForm[
                  childOkrObjective.childOkrObjectiveId
                ].controls;
                index as primaryArrayIndex
              "
            >
              <ng-container [formGroupName]="primaryArrayIndex">
                <div class="child-okr__objective-structure">
                  <p class="child-okr__objective">
                    {{ childOkr.childOkrTarget }}の目標(Objective)
                  </p>
                  <div class="child-okr__objective-form">
                    <input
                      placeholder="例) 技術者として売れる"
                      type="text"
                      formControlName="childOkrObjective"
                      required
                      class="child-okr__objective-form"
                    />
                    <mat-error
                      *ngIf="
                        childOkrObjective
                          .get('childOkrObjective')
                          .hasError('required')
                      "
                    >
                      <div class="objective-form-overlay"></div>
                      <div class="overlay-error">
                        <p>
                          エラー<br />
                          必須入力です。
                        </p>
                      </div>
                    </mat-error>
                    <mat-error
                      *ngIf="
                        childOkrObjective
                          .get('childOkrObjective')
                          .hasError('maxlength')
                      "
                    >
                      <div class="objective-form-overlay"></div>
                      <div class="overlay-error">
                        <p>
                          エラー<br />
                          最大文字数は20文字です。
                        </p>
                      </div>
                    </mat-error>
                  </div>
                </div>
              </ng-container>
            </div>
          </form>
          <div class="table">
            <div
              *ngFor="
                let row of rows[childOkrObjective.childOkrObjectiveId].controls;
                index as rowIndex
              "
              class="row"
            >
              <ng-container [formGroupName]="rowIndex">
                <div class="cell">
                  <input
                    placeholder="タスク名を入力"
                    type="text"
                    formControlName="key"
                    autocomplete="off"
                    class="key child-okr__key-result-form"
                    (keyup.enter)="focusNextInput(i + i + rowIndex + i + 1)"
                  />
                  <mat-error *ngIf="row.get('key').hasError('required')">
                    <span
                      [hidden]="
                        !(
                          row.get('key').errors?.required &&
                          row.get('key').dirty
                        )
                      "
                    >
                      <div class="overlay"></div>
                      <div class="overlay-error">
                        <p>
                          エラー<br />
                          必須入力です。
                        </p>
                      </div>
                    </span>
                  </mat-error>
                  <mat-error *ngIf="row.get('key').hasError('maxlength')">
                    <div class="overlay"></div>
                    <div class="overlay-error">
                      <p>
                        エラー<br />
                        最大文字数は20文字です。
                      </p>
                    </div>
                  </mat-error>
                  <div
                    class="select-child-okr-remove"
                    type="button"
                    (click)="
                      removeRow(childOkrObjective.childOkrObjectiveId, rowIndex)
                    "
                  >
                    <mat-icon class="select-child-okr-remove-icon">
                      minimize
                    </mat-icon>
                    <span>
                      削除
                    </span>
                  </div>
                </div>
                <div class="cell cell--small">
                  <input
                    placeholder="数値を入力"
                    name="target"
                    type="text"
                    formControlName="target"
                    autocomplete="off"
                    required
                    maxlength="20"
                    class="child-okr__key-result-form"
                  />
                  <mat-error *ngIf="row.get('target').hasError('required')">
                    <span
                      [hidden]="
                        !(
                          row.get('target').errors?.required &&
                          row.get('target').dirty
                        )
                      "
                    >
                      <div class="overlay"></div>
                      <div class="overlay-error">
                        <p>
                          エラー<br />
                          必須入力です。
                        </p>
                      </div>
                    </span>
                  </mat-error>
                  <mat-error *ngIf="row.get('target').hasError('pattern')">
                    <div class="overlay"></div>
                    <div class="overlay-error">
                      <p>エラー<br />半角英数字で入力してください</p>
                    </div>
                  </mat-error>
                  <mat-error
                    *ngIf="
                      row.get('target').hasError('maxlength') &&
                      !row.get('target').hasError('pattern')
                    "
                  >
                    <div class="overlay"></div>
                    <div class="overlay-error">
                      <p>
                        エラー<br />
                        最大数は999までです。
                      </p>
                    </div>
                  </mat-error>
                </div>
                <div class="cell cell--small">
                  <input
                    placeholder="数値を入力"
                    type="text"
                    formControlName="current"
                    autocomplete="off"
                    required
                    class="child-okr__key-result-form"
                  />
                  <mat-error *ngIf="row.get('current').hasError('required')">
                    <div class="overlay"></div>
                    <div class="overlay-error">
                      <p>
                        エラー<br />
                        必須入力です。
                      </p>
                    </div>
                  </mat-error>
                  <mat-error *ngIf="row.get('current').hasError('pattern')">
                    <div class="overlay"></div>
                    <div class="overlay-error">
                      <p>
                        エラー<br />
                        半角数値で入力してください。
                      </p>
                    </div>
                  </mat-error>
                  <mat-error
                    *ngIf="
                      row.get('current').hasError('maxlength') &&
                      !row.get('current').hasError('pattern')
                    "
                  >
                    <div class="overlay"></div>
                    <div class="overlay-error">
                      <p>
                        エラー<br />
                        最大数は999までです。
                      </p>
                    </div>
                  </mat-error>
                </div>
                <div class="cell cell--small disabled">
                  <input
                    type="text"
                    formControlName="percentage"
                    autocomplete="off"
                    disabled
                    class="child-okr__key-result-form"
                  />
                </div>
                <div class="cell cell--midium disabled">
                  <input
                    type="text"
                    formControlName="lastUpdated"
                    autocomplete="off"
                    disabled
                    class="child-okr__key-result-form"
                  />
                </div>
              </ng-container>
            </div>
          </div>
          <button
            *ngIf="rows[childOkrObjective.childOkrObjectiveId].length < 3"
            (click)="addRow(childOkrObjective.childOkrObjectiveId)"
            class="add-row child-okr__add-task-button"
          >
            <mat-icon>add</mat-icon>
            <span>タスクを追加</span>
          </button>
        </form>
        <div class="child-okr__average">
          <span>達成度</span>
          <ng-container *ngIf="childOkrObjective.average === 0; else blank">
            <span>{{ childOkrObjective.average }}%</span>
          </ng-container>
          <ng-template #blank>
            <span>{{ childOkrObjective.average }}%</span>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>

<ng-template #blank>
  <div class="not-exist">
    <h1 class="not-exist__title">まだタスクが作成されていません</h1>
    <a
      mat-raised-button
      [routerLink]="['/manage/okr-edit']"
      class="not-exist__action"
    >
      タスクを作成する
    </a>
  </div>
</ng-template>
