@import 'variables';
@import 'mixins';

.create-child-okr {
  max-width: 348px;
  margin: 0 auto;
  padding: 32px 0;
  @include sm {
    padding: 30px 12px 0;
  }
  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 32px;
    @include sm {
      margin-bottom: 40px;
      font-size: 20px;
    }
  }
  &__text {
    display: block;
  }
  &__contents {
    margin-bottom: 32px;
    @include sm {
      padding: 0;
      margin: 0;
    }
    mat-error {
      font-size: 14px;
    }
  }
  &__form-structure {
    margin-bottom: 32px;
  }
  &__category-wrapper {
    display: flex;
    align-items: center;
  }
  &__category {
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
    @include sm {
      margin-bottom: 0;
    }
  }
  mat-icon {
    color: #6f7782;
    padding-left: 6px;
    font-size: 14px;
  }

  &__input {
    width: 100%;
    border: none;
    font-size: 14px;
    line-height: 22px;
    padding: 0 12px;
    font-weight: 400;
    border: 2px solid #e8ecee;
    border-radius: 6px;
    height: 36px;
    box-sizing: border-box;
    @include sm {
      width: 100%;
      font-size: 16px;
      -webkit-appearance: none;
    }
  }
  &__form {
    position: relative;
    font-size: 16px;
    box-shadow: none;
  }
  &__remove-form {
    position: absolute;
    padding: 0;
    color: rgba(55, 53, 47, 0.4);
    box-shadow: none;
    mat-icon {
      font-size: 14px;
      line-height: 21px;
      width: auto;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
    @include sm {
      position: static;
      padding: 0;
    }
  }
  &__add-form {
    color: rgba(55, 53, 47, 0.4);
    font-size: 14px;
    box-shadow: none;
    margin-top: -8px;
    padding: 0;
    mat-icon {
      padding: 0;
      font-size: 14px;
      line-height: 21px;
      width: auto;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
  &__button {
    width: 100%;
    background-color: rgba(2, 5, 211, 0.5);
    color: #fff;
    margin-top: 48px;
    &:hover {
      opacity: 0.9;
    }
  }
}

mat-form-field {
  margin-bottom: 12px;
}

.create-child-okr-add-date {
  &__input {
    line-height: 36px;
    padding: 0 12px;
    font-weight: 300;
    border: 2px solid #e8ecee;
    border-radius: 6px;
    height: 34px;
    width: 152px;
  }
}
