<footer class="footer">
  <div class="container">
    <div class="footer-navs">
      <a routerLink="/terms">利用規約</a>
      <a routerLink="/legal">特定商取引法に基づく規約</a>
      <a routerLink="/about">OKRについて</a>
      <a routerLink="/use-service">使い方</a>
    </div>
    <div class="creator-details">
      <a href="https://twitter.com/peyo_peyo_peyo" target="_blank">
        <img
          class="twitter-icon"
          alt="twitter"
          src="https://luna1.co/twitter_icon-circle.svg"
          srcset="https://luna1.co/twitter_icon-circle.svg"
        />
      </a>
      <a class="copyright"> @2021 mukaida</a>
    </div>
  </div>
</footer>
