@import 'variables';
@import 'mixins';

.complete-okr-title {
  &__title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 56px;
  }
  &__title-content {
    position: relative;
    font-size: 26px;
    margin: 0;
    letter-spacing: 1.5px;
    &::before {
      content: '';
      position: absolute;
      top: 60px;
      right: 50%;
      transform: translateX(50%);
      width: 70px;
      height: 5px;
      background-color: #757575;
      border-radius: 2px;
    }
  }
  &__date {
    @include sm {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      margin: 0;
      padding-bottom: 24px;
    }
  }
}
