<section class="section-builder">
  <div class="hero">
    <div class="container">
      <div class="hero__main">
        <h1 class="hero__heading">個人のすべての目標とタスクの管理ツール</h1>
        <p class="hero__sub-heading">
          個人の目標に紐づく、あらゆる情報を蓄積。<br />
          「目標」「人生」「幸福度」それぞれ高める資産にしていきます。
        </p>
        <div class="hero__action">
          <a
            class="btn-main"
            (click)="login()"
            mat-raised-button
            color="primary"
          >
            今すぐ試す
            <mat-icon>arrow_right_alt</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
