@import 'variables';
@import 'mixins';

.objective {
  display: flex;
  margin: 0 0 12px 8px;
  &__title {
    position: relative;
    font-size: 16px;
    width: 120px;
    @include sm {
      min-width: 160px;
      font-size: 20px;
    }
    &::after {
      content: ':';
      position: absolute;
      top: 3px;
      right: 3px;
      @include sm {
        right: 10px;
      }
    }
  }
  &__form {
    font-size: 16px;
    border: 2px solid #e8ecee;
    border-radius: 8px;
    line-height: 22px;
    width: 440px;
  }
}

.data {
  overflow-x: auto;
}

.child-okr {
  padding: 12px 62px;
  margin: 0 auto;
  height: 100%;
  @include sm {
    margin: 0;
    padding: 40px 0;
  }
  &__thead {
    margin-bottom: 12px;
  }
  th,
  td {
    position: relative;
    border: 1px solid #e8ecee;
    font-weight: 300;
    color: #6f7782;
  }
  th {
    text-align: start;
    padding: 0 8px;
    font-size: 12px;
  }
  tr {
    height: 36px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    @include md {
      max-width: 1000px;
    }
  }
  .header-right,
  .body-right {
    border-right-style: none;
  }
  .header-left,
  .body-left {
    border-left-style: none;
  }
  .target,
  .current,
  .percentage {
    width: 180px;
  }
  &__key-result {
    width: 89%;
    height: 30px;
    border-style: none;
    background-color: transparent;
    padding: 0 12px;
    @include sm {
      width: 90%;
      font-size: 16px;
    }
  }
  &__average {
    font-size: 14px;
    text-align: center;
    margin-bottom: 12px;
    @include sm {
      text-align: start;
    }
  }
  &__average-text {
    margin-right: 8px;
    color: rgba(55, 53, 47, 0.4);
  }
}

.material-icons {
  font-size: 16px;
}

.table-icon {
  position: absolute;
  top: 9px;
}
