<div class="child-okr-header">
  <div class="page-toolbar-structure">
    <ng-container *ngIf="childOkr$ | async as childOkr">
      <p class="page-toolbar-structure__left">
        📅 期日: {{ childOkr.end.toDate() | date: 'yyyy年MM月dd日' }}
      </p>
      <div class="page-toolbar-structure__right">
        <button (click)="childOkrComplete()" class="is-completed">
          <mat-icon class="material-icons">check_circle_outline</mat-icon>
          <p>完了する</p>
        </button>
        <mat-icon class="material-icons">schedule</mat-icon>
        <p>残り{{ differenceInDay }}日</p>
      </div>
    </ng-container>
  </div>
</div>
