<section class="how-to-use">
  <div class="container">
    <div class="how-to-use__row">
      <div class="how-to-use__column">
        <h2 class="how-to-use__title">OKRとは</h2>
        <p class="how-to-use__sub-title">
          OKR
          とは、「目標と主要な結果」であり、チームの測定可能な目標設定に役立つ目標設定の方法です。
          OKR
          は、ほぼすべての目標に適合するように調整できる、シンプルながら非常に柔軟性の高いテンプレートを採用しています。
        </p>
      </div>
    </div>

    <div class="how-to-use-list">
      <div class="how-to-use-list__row">
        <div class="how-to-use-list__columin-large">
          <img
            src="assets/images/how-to-use.png"
            alt="OKR説明画像"
            class="how-to-use-list__img"
          />
        </div>
        <div class="how-to-use-list__columin-medium">
          <div class="how-to-use-list__text-stack">
            <h3 class="how-to-use-list__title">
              なぜ、個人のOKRを管理する必要があるのか？
            </h3>
            <div class="how-to-use-list__sub-title">
              <p>
                「個人の目標を可視化して、具体的なアクションまで落とし込みたい。」
                そのような要望を叶えるために本サービスを利用することをおすすめします。
                OKRの考えに基づき、個人のあらゆる目標を管理し、実践するために、本サービスは作成されました。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
