@import 'variables';
@import 'mixins';

.footer {
  background-color: #222b37;
  padding: 32px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  @include sm {
    padding: 32px 0;
  }
}

.footer-navs {
  margin-bottom: 20px;
  color: #ffffff;
}

a {
  text-decoration: none;
  margin-right: 16px;
  color: inherit;
  @include sm {
    font-size: 12px;
    display: block;
    margin-bottom: 12px;
  }
}
.creator-details {
  @include sm {
    text-align: center;
  }
}
.twitter-icon {
  cursor: pointer;
  margin-bottom: 20px;
  @include sm {
    margin-bottom: 0;
  }
}
.copyright {
  color: #ffffff;
  font-size: 16px;
  display: block;
  margin: 0;
  @include sm {
    font-size: 12px;
  }
}
