@import 'mixins';

.loading {
  position: absolute;
  margin: auto;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inner {
  margin: 0 auto;
  padding-bottom: 284px;
  @include sm {
    padding-bottom: 100px;
  }
}

.shadow {
  opacity: 0.4;
}

.wrapper {
  width: 100%;
  position: relative;
  min-height: 100%;
}
