<div class="okr-delete-dialog">
  <div class="okr-delete-dialog__content">
    <h2 class="okr-delete-dialog__title">プロジェクトを削除しますか？</h2>
    <p>
      この操作を行うと、プロジェクトは削除されますが、<br />
      プロジェクトの中にある進行中のOKRは削除されません。
    </p>
  </div>
  <div class="okr-delete-dialog__action">
    <button
      mat-raised-button
      (click)="closeDialog()"
      class="okr-delete-dialog__cancel"
    >
      キャンセル
    </button>
    <button
      color="primary"
      mat-raised-button
      (click)="deleteParentOkr()"
      class="okr-delete-dialog__okr-delete"
    >
      削除する
    </button>
  </div>
</div>
