<div class="points">
  <div class="points__container">
    <div class="points__row">
      <div class="points__colmin">
        <h3 class="points__header">
          OKR管理ツールを使用する主なメリット
        </h3>
      </div>
      <div class="points-contents">
        <div class="points-contents__item" *ngFor="let point of points">
          <mat-icon
            data-aos="fade-up"
            data-aos-duration="1000"
            class="points-contents__icon"
          >
            {{ point.icon }}
          </mat-icon>
          <div class="points-contents__date">
            <h4 class="points-contents__title">{{ point.title }}</h4>
            <p class="points-contents__body">{{ point.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
