<div class="use-service">
  <div class="container">
    <div class="use-service__head-line">
      <h1 class="use-service__heading">サービスの使い方</h1>
      <p class="use-service__sub-heading">
        本サービスはOKRの考え方に基づいた、個人のタスクを作成します。サービスの使い方を読みスムーズに使いこなしましょう
      </p>
    </div>

    <div class="parent-okr-description">
      <h3 class="parent-okr-description__heading">メインのOKRとは？</h3>
      <p class="parent-okr-description__sub-heading">
        メインのOKRには個人の達成したい目標を書いておきます。
      </p>

      <div class="parent-okr-description__image-text">
        <img
          src="assets/images/parent-okr-description.png"
          class="parent-okr-description__image"
        />
        <div class="parent-okr-description__text-stack">
          <h4 class="parent-okr-description__title">目標(Objective)</h4>
          <p class="parent-okr-description__sub-title">
            まずは、一番上に個人の成し遂げたい目標を書いておきます。成し遂げたい目標を基に、さらに目標を立てていくので、最も重要な項目です。
          </p>
          <h4 class="parent-okr-description__title">成果指標(KeyResults)</h4>
          <p class="parent-okr-description__sub-title">
            設定した目標から具体的な指標を考えていきます。具体的な指標から今後の進行中のOKRを作成していきます。
          </p>
        </div>
      </div>
    </div>

    <div class="child-okr-description">
      <h3 class="child-okr-description__heading">進行中のOKRとは？</h3>
      <p class="child-okr-description__sub-heading">
        進行中のOKRには1カ月〜四半期毎に作成するタスクを書いていききます。
      </p>
      <div class="child-okr-description__image-text">
        <div class="child-okr-description__text-stack">
          <h4 class="child-okr-description__title">目標(Objective)</h4>
          <p class="child-okr-description__sub-title">
            まずは、メインのOKRで作成した成果指標(KeyResults)を基にして、目標を1〜3つ作成していきます。達成率70%程度の目標で設定します。
          </p>
          <h4 class="child-okr-description__title">成果指標(KeyResults)</h4>
          <p class="child-okr-description__sub-title">
            タスクリストになります。進行中のOKRで作成した目標から指標を用いたタスクを作成していきます。
          </p>
        </div>
        <img
          src="assets/images/child-okr-description.png"
          class="child-okr-description__image"
        />
      </div>
    </div>
  </div>
</div>
<app-site-footer></app-site-footer>
