@import 'variables';
@import 'mixins';
@import 'material-custom';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Noto Sans JP', 'Hiragino Kaku Gothic Pro',
    'ヒラギノ角ゴ Pro W3', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  @include sm {
    max-width: 600px;
    padding: 0 12px;
  }
}

.shepherd-enabled.shepherd-element {
  width: 300px !important;
}
.shepherd-has-title .shepherd-content .shepherd-header {
  padding: 0 12px !important;
}
.shepherd-text {
  padding: 24px 12px !important;
  font-size: 14px !important;
}
.shepherd-footer {
  justify-content: space-between !important;
}
.shepherd-button {
  background: rgba(2, 5, 211, 0.5) !important;
  padding: 4px 16px !important;
}
